In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("customer.csv")

In [3]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head(5)

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2], df.iloc[:,-1], test_size=0.2)

In [7]:
x_train

     review education
38     Good    School
33     Good        PG
29  Average        UG
2      Good        PG
42     Good        PG
27     Poor        PG
5   Average    School
1      Poor        UG
10     Good        UG
28     Poor    School
49     Good        UG
21  Average        PG
8   Average        UG
34  Average    School
45     Poor        PG
40     Good    School
32  Average        UG
17     Poor        UG
19     Poor        PG
15     Poor        UG
9      Good        UG
14     Poor        PG
12     Poor    School
25     Good    School
37  Average        PG
6      Good    School
48     Good        UG
35     Poor    School
30  Average        UG
36     Good        UG
43     Poor        PG
39     Poor        PG
0   Average    School
22     Poor        PG
46     Poor        PG
3      Good        PG
44  Average        UG
47     Good        PG
26     Poor        PG
18     Good    School

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
oe = OrdinalEncoder(categories=[["Poor", "Average", "Good"],["School", "UG", "PG"]])

In [10]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [11]:
x_train = oe.transform(x_train)

In [12]:
x_test = oe.transform(x_test)

In [13]:
x_train

array([[2., 0.],
       [2., 2.],
       [1., 1.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [1., 0.],
       [0., 1.],
       [2., 1.],
       [0., 0.],
       [2., 1.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [1., 2.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [2., 0.]])

In [14]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [16]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [17]:
le.fit(y_train)

LabelEncoder()

In [18]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [19]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [20]:
y_train

array([0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0])